#mapvinhome {
  //padding-bottom: 100px;
  //background: rgba(100, 100, 100, 0.3);
  height: 100%;
  width: 100%;
  .map {
    width: 80%;
    height: auto;
    margin: 30px auto 0 auto;
    text-align: center;
    img {
      width: 100%;
    }
  }
}

.modal-backdrop {
  //background: transparent !important;
  z-index: 9;
}
