@import "./slick";
@import "./slick-theme";
@import "./footer";
@import "./mobilemenu";

#app {
  background: rgb(243, 243, 243) !important;
  //background: #000;

  //background: #00303a;
}

#mapvinhome {
  //padding-bottom: 100px;
  //background: rgba(100, 100, 100, 0.3);
  height: 100%;
  width: 100%;
  .map {
    width: 80%;
    height: auto;
    margin: 30px auto 0 auto;
    text-align: center;
    img {
      width: 100%;
    }
  }
}

.modal-backdrop {
  //background: transparent !important;
  z-index: 9;
}
.ratio {
  width: 100vw;
  height: 33.3vw;
  img {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.footer .footer-body {
  position: relative;
  background-color: #00303a;
  color: #fcfcfc;
  padding: 10px 0 20px;
}
.footer .footer-body .footer-contact-info h4 {
  text-transform: uppercase;
  font-size: 0.9em;
  color: white !important;
}
.footer .footer-body .footer-contact-info ul.contact-items li.item .label {
  float: left;
  font-weight: 700;
  width: 120px;
  text-align: left;
}
.footer .footer-body .footer-contact-info ul.contact-items li.item .text {
  display: block;
  margin-left: 120px;
  font-weight: 300;
  color: #fafafa !important;
  a {
    color: #fafafa !important;
  }
}

.footer {
  input, textarea {
    border: none;
    outline: none;
  }
  button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  input {
    line-height: normal;
  }
  button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border: none;
  }
  input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
  }
}
.footer .footer-body .footer-contact-form input, .footer .footer-body .footer-contact-form textarea {
  background-color: transparent;
  font-size: .8em;
  padding: 8px;
  border-bottom: 1px solid hsla(0,0%,100%,.6);
  width: 100%;
  color: white !important;
}
.footer .footer-body .footer-contact-form .btn-send {
  background-color: transparent;
  margin-top: 10px;
  border: 1px solid hsla(0,0%,100%,.6);
  border-radius: 20px;
  padding: 5px 25px;
  font-size: .8em;
  text-transform: uppercase;
  color: white;
}
.footer .footer-body .footer-contact-form .btn-send:hover {
  background-color: #eaeaea;
  color: #00303a;
}
.slick-dots {
  bottom: 0;
  li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid white;
    button {
      display:none;
    }
  }
  li.slick-active {
    background: #e2b956;
    border-color: #e2b956;
  }
}
.slick-arrow {
  z-index: 999;
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  &:before{
    color: rgba(255, 255, 255, 0.5);
  }
  &:hover {
    border: 2px solid white;
    color: white;
  }
  &:hover::before{
    color: white;
  }
}

.slick-next {
  right: 10px;
}
.slick-prev {
  left: 10px;
}
.navbar-brand {
  padding: 0;
  margin-top: 10px;
}
.navbar-header {
  height: 100px;
}
.navbar2{
  text-align: center;
  color: white;
}
.navbar2-top {
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
}
.navbar2-bottom {
  line-height: 40px;
  font-size: 18px;
  b {
    font-weight: bold;
  }
}
#nav-wrap, .navbar{
  background: #00303a !important;
  border-bottom: 2px solid rgba(255, 177, 0, 0.8);
}

.slider-top {
  border-bottom: 2px solid rgba(255, 177, 0, 0.8);
}
.accordion {
  //border-radius: 5px;
  color: #686868;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  width: 100%;
  a{
    color: white !important;
  }
  a:visited{
    color: white !important;
  }
}
.accordion li {
  padding-bottom: 5px;
  padding-left: 40px;
  padding-top: 5px;
  font-size: 12px;
  font-weight: bold;
}
.accordion .accordion-header,
.accordion .accordion-item {
  color: #FFF;
  padding: 10px;

}
.accordion .accordion-header,
.accordion .accordion-item.drop {
  position: relative;
}
.accordion .accordion-header:after,
.accordion .accordion-item.drop:after {
  border: solid transparent;
  border-width: 7px;
  content: " ";
  height: 0;
  left: 10px;
  position: absolute;
  pointer-events: none;
  top: 100%;
  width: 0;
}
.accordion .accordion-header {
  //background-color: #2b3c4f;
  //background-color: #2b3c4f;
  background-color: #00303a;
}
.accordion .accordion-header:after {
  //border-top-color: #2b3c4f;
  border-top-color: #00303a;
}
.accordion .accordion-item {
  background-color: #0074D9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.accordion .accordion-item.drop:after {
  border-top-color: #0074D9;
}
.accordion .accordion-item:last-child,
.accordion .accordion-item.drop {
  border-bottom: none;
}
.accordion.accordion-red .accordion-item {
  background-color: #ff7569;
}
.accordion.accordion-red .accordion-item.drop:after {
  border-top-color: #ff7569;
}
.accordion .accordion-sub-item {
  background-color: #FFF;
  position: relative;
  a{
    color: #0074D9 !important;
  }
  a:visited{
    color: #0074D9 !important;
  }
}
.accordion .accordion-sub-item:before {
  background-color: #0074D9;
  content: " ";
  height: 100%;
  left: -10px;
  position: absolute;
  transition: 0.2s;
  top: 0;
  width: 10px;
}
.accordion .accordion-sub-item:hover:before {
  left: 0;
}

.inner-page header, .mar-top header {
  font-size: 20px;
  display: inline-block;
  //background: rgb(243, 243, 243);
  background: white ;
  margin-left: 25px;
  padding: 0 15px;
  position: absolute;
  top: -7px;
  h2 {
    color: #00303a;
    font-weight: bold;
    font-size: 20px;
    margin: 0 !important;
    display: inline-block
  }
}
.headerWr{
  margin-top: 10px;

}

.inner-page, .mar-top {
  .headerWr{
    background: #00303a;
    height: 8px;
    margin: 0 15px 15px 15px;
    position: relative;
  }
}

#testimonial{
  background: white;
  padding: 30px 0;
  h3.head {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 3px solid #FF4136;
    display:table;
    margin: 0 auto 40px auto;
  }

  .avatarWr {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
    display: inline-block;
    float: left;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .name {
    font-size: 18px;
    margin-left: 15px;
    font-weight: bold;
    line-height: 60px;
    display: inline-block;
    float: left;
  }
  .danhgia {
    width: 70%;
    display: table;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  .headWr {
    display: table;
    margin: 0 auto 15px auto;

  }
  .testimonialWr {

  }
}

.footer {
  background: white;
  position: relative;
  .footer-body {
    z-index: 999;
  }
}

.a-left {
  //right: -100px;
  z-index: 900;
  width: 200px;
  height: 200px;
}

.a-right {

  position: absolute;
  right: 150px;
  top: 0;
  z-index: 900;
  width: 200px;
  height: 200px;
  img {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
}

.apartment-title {
 text-align: center;
  padding: 5px;
  a {
    font-size: 16px;
    font-weight: bold;
  }
}

.oldPrice, .newPrice {
  font-weight: bold;
  text-align: center;
}

.oldPrice {
  text-decoration: line-through
}
.newPrice {
  //text-decoration: line-through
  color: #F99A05;
}

.card-image {
  background: transparent !important;
}


@-webkit-keyframes zoominout {
  0% {
    -webkit-transform: scale(1,1);
  }
  50% {
    -webkit-transform: scale(1.1,1.1);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}


img.auto-zoom, img.auto-zoom2, img.auto-zoom3, img.auto-zoom4, img.auto-zoom1 {
  -webkit-animation: zoominout 20s infinite; /* Chrome, Safari, Opera */
  animation: zoominout 20s infinite;
}

.agent-photo {
  width: 29px !important;
  height: 19px !important;
}
.square {
  position: relative;
}
.square:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.square-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.padding-20 {
  padding: 20px;
}

.tongquan {
  background: white;
  h3 {
    color: #FF4136;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .noidung {
    //margin-top: 60px;
  }

  .divider {
    display: flex;

    &:before,
    &:after {
      content: "";
      flex: 1;
    }
  }

  // Base line
  .line {
    align-items: center;
    margin: 1em -1em;

    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
  }


  .one-line {
    &:before,
    &:after {
      background: black;
    }
  }

  .razor {
    &:before,
    &:after {
      box-shadow: 0 0.5px 0 black; // Chrome
      border-bottom: 0.5px solid black; // Safari
    }
  }

  .double-razor {
    &:before,
    &:after {
      height: 3px;
      box-shadow: // Chrome
        0 -0.5px 0 black,
        0 0.5px 0 black;
      border: solid black; // Safari
      border-width: 0.5px 0;
    }
  }

  .glow {
    &:before,
    &:after {
      height: 6px;
      -webkit-filter: blur(5px);
      border-radius: 5px;
    }

    &:before {
      background: linear-gradient(to right, blue, hotpink);
    }

    &:after {
      background: linear-gradient(to left, blue, hotpink);
    }
  }

  // Gradients
  .gradient {
    align-items: stretch;
    margin: 1em 0;
    height: 2em;
    line-height: 2em;
    color: white;
    background: #00303a;

    &:before {
      background: linear-gradient(to right, white, #00303a);
    }

    &:after {
      background: linear-gradient(to left, white, #00303a);
    }
  }

  // Ribbon thing
  .donotcross {
    overflow: hidden;
    align-items: center;
    background: #00303a;
    color: white;
    height: 2em;
    line-height: 2em;

    &:before,
    &:after {
      background: white;
      padding: 50px 0;
      height: 0;
      transform: rotate(45deg);
    }
  }
}

.bg-white {
  background: white !important;
}

hr {
  margin: 5px 0 !important;
}

@import './responsive';

