#mapvinhome {
  height: 100%;
  width: 100%; }
  #mapvinhome .map {
    width: 80%;
    height: auto;
    margin: 30px auto 0 auto;
    text-align: center; }
    #mapvinhome .map img {
      width: 100%; }

.modal-backdrop {
  z-index: 9; }
