body {
  width: 100%;
  height: 100%; }

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none; }

.slideout-menu-left {
  left: 0; }

.slideout-menu-right {
  right: 0; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  /* A background-color is required */
  min-height: 100vh; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

#menuMobile {
  background: #001f3f;
  border-right: 2px solid rgba(255, 177, 0, 0.8); }

@media screen and (min-width: 768px) {
  #menuMobile {
    display: none; }
  #panel {
    transform: none !important; } }

#menuMobile > a {
  width: 100%;
  display: block;
  text-align: center;
  border-bottom: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  color: white; }
  #menuMobile > a:hover {
    background: orange; }
